.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App input:focus,
.App select:focus,
.App textarea:focus {
  border-color: #333333; /* Assuming charcoal is a dark gray */
  outline: none;
  box-shadow: 0 0 0 2px #333333;
}

@keyframes bounce-slight {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(3px);
  }
}

.note-button {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  transition: background-color 0.2s;
}

.note-button.edit-note {
  background-color: #f0f0f0;
  color: #333;
}

.note-button.add-note {
  background-color: #e0e0e0;
  color: #333;
}

.note-button:hover {
  background-color: #d0d0d0;
}

.note-button svg {
  margin-right: 0.5rem;
}

.ProseMirror {
  min-height: 100%;
  padding: 1rem;
  outline: none;
}

.ProseMirror p {
  margin-bottom: 1em;
}

.ProseMirror ul, .ProseMirror ol {
  padding-left: 1em;
}

.ProseMirror a {
  color: #0000FF;
  text-decoration: underline;
}


